.new-account h2 {
    margin-top: 15px;
    text-align: center;
}

.new-account form {
    row-gap: 22px;
}

.error {
    background: none;
    border: none;
}

.error.form {
    position: absolute;
    display: block;
    font-size: 11px;
    color: #db7070;
}