#send_money .body, #add_connection .body, #deposit .body, #withdrawal .body {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f5f5;
}

#add_connection .body form, #deposit .body form, #withdrawal .body form {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

#send_money .body label {
    display: none;
}

#send_money .body input, #send_money .body select, #add_connection .body input, #deposit .body input, #withdrawal .body input {
    height: 30px;
    border: 1px solid #afafaf;
    font-family: 'Inter';
    font-size: 12px;
}

#send_money .body input.description, #add_connection .body input.email, #deposit .body input.amount, #withdrawal .body input.amount {
    width: 300px;
    padding-left: 4px;
}

#send_money .body select {
    width: 200px;
}

#send_money .body input#amount {
    width: 100px;
    text-align: right;
}

#my_transactions .body {
    border: 1px solid;
}

#my_transactions .body li {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    height: 80px;
    font-size: 14px;
    text-align: center;
}

#my_transactions .body li:first-child {
    background: #5cb95c !important;
    color: white;
}

#my_transactions .body li:nth-child(even) {
    background: #f5f5f5;
}

#my_transactions .pagination {
    display: flex;
    gap: 1px;
    width: fit-content;
    margin: 10px auto;
    padding: 1px;
    background: #afafaf;
    border-radius: 3px;
}

#my_transactions .pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    font-size: 14px;
    color: #0275d8;
}

#my_transactions .pagination li:first-child {
    border-radius: 3px 0 0 3px;
}

#my_transactions .pagination li:last-child {
    border-radius: 0 3px 3px 0;
}

#withdrawal input.button {
    width: 230px;
}