<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy - Money</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/transfer.css}" />
</head>
<body>
    <header>
        <div class="container">
            <a th:href="@{/home/transfer}"><h1>Pay My Buddy</h1></a>
            <nav>
                <li><a th:href="@{/home/transfer}">Home</a></li>
                <li><a th:href="@{/home/transfer}">Transfer</a></li>
                <li><a class="active" th:href="@{/home/money}">Money</a></li>
                <li>Profile</li>
                <li>Contact</li>
                <li>
                    <form name="logout" th:action="@{/logout}" method="POST">
                        <input type="submit" value="Log out" />
                    </form>
                </li>
            </nav>
        </div>
    </header>
    <section id="path">
        <div class="container">
            <a th:href="@{transfer}">Home</a> Money
        </div>
    </section>
    <main>
        <div class="container">
            <div class="head">
                <h3>Hello, <span th:text="${user.firstName}"></span> !</h3>
                <h4>Your balance : <span th:text="${balance}"></span> €</h4>
            </div>
            <div th:if="${successMessage}"><div class="success" th:text="${successMessage}"></div></div>
            <div th:if="${errorMessage}"><div class="error" th:text="${errorMessage}"></div></div>
            <section id="deposit">
                <div class="head">
                    <h2>Deposit</h2>
                </div>
                <div class="body">
                    <form name="deposit" th:action="@{/deposit}" method="POST">
                        <label for="amount"></label>
                        <input id="amount" name="amount" class="amount" type="number" step="0.01" placeholder="0€" required />
                        <input class="button" type="submit" value="Make a deposit" />
                    </form>
                </div>
            </section>

            <section id="withdrawal">
                <div class="head">
                    <h2>Withdrawal</h2>
                </div>
                <div class="body">
                    <form name="withdrawal" th:action="@{/withdrawal}" method="POST">
                        <input name="amount" class="amount" type="number" step="0.01"placeholder="0€" required />
                        <input class="button" type="submit" value="Send money to my bank account" />
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>
</html>