<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy - Home</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/transfer.css}" />
</head>
<body>
    <header>
        <div class="container">
            <a th:href="@{transfer}"><h1>Pay My Buddy</h1></a>
            <nav>
                <li>Home</li>
                <li><a th:href="@{transfer}">Transfer</a></li>
                <li>Profile</li>
                <li>Contact</li>
                <li>Log off</li>
            </nav>
        </div>
    </header>
    <section id="path">
        <div class="container">
            <a th:href="@{transfer}">Home</a> Transfer
        </div>
    </section>
    <main>
        <div class="container">
            <section id="send_money">
                <div class="head">
                    <h2>Send Money</h2> <input class="button primary" type="button" value="Add Connection" />
                </div>
                <div class="body">
                    <label for="select_a_connection"></label>
                    <select name="connections" id="select_a_connection">
                        <option selected>Select a Connection</option>
                    </select>
                    <label for="amount"></label>
                    <input type="number" placeholder="0€ " name="amount" id="amount" />
                    <input type="button" class="button" value="Pay" />
                </div>
            </section>
            <section id="my_transactions">
                <div class="head">
                    <h2>My Transactions</h2>
                </div>
                <div class="body">
                    <li>
                        <span>Connections</span>
                        <span>Description</span>
                        <span>Amount</span>
                    </li>
                    <li>
                        <span>Hayley</span>
                        <span>Restaurant bill share</span>
                        <span>10€</span>
                    </li>
                    <li>
                        <span>Clara</span>
                        <span>Trip money</span>
                        <span>25€</span>
                    </li>
                    <li>
                        <span>Smith</span>
                        <span>Movie tickets</span>
                        <span>8€</span>
                    </li>
                </div>
                <div class="pagination">
                    <li>«</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>»</li>
                </div>
            </section>
        </div>
    </main>
</body>
</html>